
<app-header-sub></app-header-sub>


<section class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <h2 class="border-center text-center fs-2"><span class="text-info">About </span><span class="text-danger">Us</span></h2>

      <div class="fs-18 pt-4 text-justify">
        <p>Welcome to TradersFind, the ultimate B2B and B2C e-commerce platform for 
          businesses and consumers in UAE, brought to you by Interconnect Marketing Management L.L.C ! 
          We've created TradersFind with a clear goal in mind: to provide a space for companies to 
          showcase their details and products to other businesses and end users. Your business success 
          is our top priority, and we're dedicated to helping you strengthen your online presence on 
          our website, making it easier for you to grow your business.</p>
        <p>At TradersFind, we understand the importance of a strong online presence. 
          That's why we offer tailored content to online users, presenting them with visually 
          appealing and relevant information that matches their specific needs. By featuring your 
          products and services on our platform, you can significantly increase your business's 
          visibility and attract potential investors.</p>
        <p>We are proud to create a work environment where our team feels empowered and confident. 
          Our dedication revolves around serving our customers and using our creativity to assist 
          them in reaching their objectives. We strongly believe that our individuality adds 
          to our collective strength, and we are determined to construct a company that is more diverse, 
          inclusive, and equitable, benefiting our teams, customers, and community. 
          We encourage our colleagues to share their distinct viewpoints and experiences at work, 
          and we continuously seek fresh approaches to encourage diversity and inclusiveness.</p>
      </div>

      <div class="shadow2 fs-18 px-sm-4 pt-2 pb-4 mt-3 rounded-10 ">
        <h3 class="fwbold fs-4">Our Key Strengths:</h3>
        <p>Our main objective is to benefit every business associated with TradersFind. By hosting your banner on TradersFind.com, we promise you'll experience a positive impact.</p>
        <ul class="businessBg">
          <li>
            <span class="text-danger fs-1">-</span> At our core, we are dedicated to using innovative technology to enhance businesses and keep our clients informed about the latest industry updates. Our primary strength lies in our ability to use innovative methods to help our clients achieve their goals and stay ahead of the competition.          </li>
          <li>
            <span class="text-danger fs-1">-</span> With a vast database of both buyers and sellers, our platform provides unmatched access to a wide network of potential partners. Moreover, our user-friendly interface attracts a significant number of buyers, making it easier than ever to connect with the right people.          </li>
          <li> <span class="text-danger fs-1">-</span> To ensure a smooth experience for our users, we have organized our portal into industries, group categories, and categories. This allows buyers to quickly find companies that offer the products they need, saving them time and effort.</li>
          <li>
            <span class="text-danger fs-1">-</span> We take accuracy and reliability seriously, regularly updating all business-related information on our platform to provide users with the most current and dependable data.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> At TradersFind, we believe that success should not be hindered by costs. That's why we offer free registration for companies looking to join our platform. Additionally, we provide cost-effective e-commerce solutions that empower our clients to thrive in today's fast-paced business environment.
          </li>
        </ul>
      </div>

      <div class="login-detailsBg login-detailsBg2 mt-1">
        <div class="media mt-3">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="assets/images/join-icon11.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading fwbold  mb-0">Our Goal:</h4>
            <p class="mt-0 mb-0 fs-18">
              At the heart of our vision is a B2B and B2C platform tailored to meet the unique needs of buyers and suppliers. We are committed to addressing any issues and deficiencies in our marketplace by promoting transparency and maintaining the highest quality standards throughout the process.
            </p>
          </div>
        </div>

        <div class="media ">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="assets/images/join-icon12.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading fwbold  mb-0">Our Core Values:</h4>
            <p class="mt-0 mb-2 fs-18">
              <span class="fwbold text-danger">Transparent Work Culture:</span> We prioritize transparency in our words and actions, always striving to do what's ethical, legal, and socially responsible.
            </p>
            <p class="mt-0 mb-2 fs-18">
              <span class="fwbold text-danger">Results-Driven:</span> We set clear goals, prioritize tasks, allocate resources, and closely monitor project growth to ensure we deliver the results our clients expect.
            </p>
            <p class="mt-0 mb-2 fs-18">
              <span class="fwbold text-danger">Customer-Focused: </span> We respect the individuality of each client, considering their unique requirements and budgets, and providing customized solutions that meet their needs.
Innovation: We encourage creative thinking and the exploration of new possibilities, while seeking input and feedback from our clients and colleagues to continually improve our approach.            </p>
     <!--      <p class="mt-0 mb-2 fs-18">
              <span class="fwbold text-danger">Innovation:</span>  We encourage out-of-the-box thinking and exploring new possibilities while seeking input and feedback from our clients and colleagues to continuously improve our approach.
            </p>-->
          </div>
        </div>

        <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="assets/images/join-icon13.jpg">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading fwbold  mb-0">Our Vision</h4>
            <p class="mt-0 mb-0 fs-18">
              At our core, we are driven by values that place our stakeholders above all else. Our mission? To become the most exceptional B2B and B2C marketplace out there, and we won't settle for anything less. With exceptional services, unique features, and unwavering support, we are tirelessly working to make this a reality.
            </p>
          </div>
        </div>
      </div>

      <div class="shadow2 fs-18 px-sm-4 pt-2 pb-4 mt-3 rounded-10 ">
        <p class="fs-4 text-center text-info pt-4">But we're not stopping there. We're constantly enhancing our digital expertise to make it even easier for traders to connect with each other and establish distinctive brand identities. We believe that success is achieved through collaboration, community, and a touch of creative ingenuity.</p>
        <h3 class="text-center fs-3 fwbold"> Join TradersFind today and experience the power of our platform!</h3>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>