
<footer class="footer pt-5 pb-1">

    <div class="container-fluid">
      <div class="row gy-5">
        <div class="col-lg-3 text-white text-center">
          <img src="assets/images/help-icon.webp" class="img-fluid" width="60" height="30" alt="" />
          <h4 class="my-4">Happy to help you!</h4>
          <ul class="mt-4 mb-5 footer_call gap-3">
            <li>
              <a href="tel:+971502943313" class="text-white"><img src="assets/images/call-footer-icon.webp" width="20" height="20" alt="" /> +971 502943313 </a>
            </li>
            <li class="my-1">
              <a href="tel:+971569773623" class="text-white"><img src="assets/images/whatsapp-footer-icon.webp" width="20" height="20" alt="" />
                +971 569773623</a>
            </li>
            <li>
              <a href="tel:+97143465220" class="text-white"><img src="assets/images/mail-footer-icon.webp" width="20" height="15" alt="" />
                support&#64;tradersfind.com</a>
            </li>
          </ul>
          <!--<small>Keep in touch:</small>-->
          <ul class="d-flex gap-2 justify-content-center footer_social mt-2">
            <li><a href="https://www.facebook.com/tradersfindb2bportal" target="_blank"><img src="assets/images/facebook.webp" width="100%" height="100%" alt="facebook" /></a></li>
            <li><a href="https://www.instagram.com/tradersfind" target="_blank"><img src="assets/images/instagram.webp" width="100%" height="100%" alt="Instagram" /></a> </li>
            <li><a href="https://twitter.com/tradersfind" target="_blank"><img src="assets/images/twitter_icon.webp"  width="100%" height="100%" alt="Twitter" /></a> </li>
            <li><a href="https://pinterest.com/tradersfind" target="_blank"><img src="assets/images/pinterest.webp" width="100%" height="100%" alt="Pinterest" /></a> </li>
            <li><a href="https://www.linkedin.com/company/tradersfind" target="_blank"><img src="assets/images/LinkedIn_icon.webp" width="100%" height="100%" alt="Pinterest" /></a> </li>
            <li><a href="https://www.youtube.com/@TradersFind" target="_blank"><img src="assets/images/youtube.webp" width="100%" height="100%" alt="Pinterest" /></a> </li>
          </ul>
        </div>
        <div class="col-lg-9 footer_menu">
          <div class="row gy-4 justify-content-center">
            <!--<div class="col-md-3 ">
              <h4 class="text-white">OUR SERVICES</h4>
              <ul class="footermenu">
                <li><a routerLink="advertise-with-us">Advertise with us</a></li>
                <li><a routerLink="advertise-with-us">Membership Plan</a></li>
                <li><a routerLink="advertise-with-us">Banner Advertisement</a></li>
              </ul>
            </div>-->
  
            <div class="col-md-3  ">
              <h4 class="text-white">BUYERS</h4>
              <ul class="footermenu">
                <li><a href="post-buy-requirements">Post Your Requirement</a></li>
                <li><a href="industry">Browse Sellers</a></li>
                <li><a href="buyer-faq">Buyer FAQ</a></li>
              </ul>
            </div>
  
            <div class="col-md-3 ">
              <h4 class="text-white">SELLERS</h4>
              <ul class="footermenu">
                <li><a href="register-your-business">Sell Your Product</a></li>
               <!-- <li><a href="latest-buyleads">Latest Buyleads</a></li>  -->
                <li><a href="seller-faq">Seller FAQ</a></li>
              </ul>
            </div>
  
            <div class="col-md-3  ">
              <h4 class="text-white">QUICK LINKS</h4>
              <ul class="footermenu">
                <li><a href="/blog">Latest Blogs</a></li>
                <li><a href="feedback">Feedback</a></li>
             <!--   <li><a href="">Testimonials</a></li>  -->
              </ul>
            </div>
  
            <div class="col-12 hr-border" >
              <hr class="border-white my-4" />
            </div>
  
            <div class="col-lg-8">
              <ul class="footermenu2">
                <li><a href="about-us">About us</a></li>
                <li><a href="contact-us">Contact us</a></li>
                <li><a href="privacy-policy">Privacy Policy</a></li>
                <li><a href="term-and-conditions">Term of Use</a></li>
              </ul>
  
              <!-- <p class="d-flex align-items-center gap-3 text-grey mt-5">
                Go Mobile:
                <img src="assets/images/googleplay.png" class="img-fluid" alt="" />
                <img src="assets/images/iphone.png" class="img-fluid" alt="" />
              </p> -->
            </div>
            <div class="col-lg-4 text-center mt-0"> <a href="/" title="TradersFind" aria-label="TradersFind - Largest B2B online Portal">
              <img src="assets/images/footer-logo.webp" title="TradersFind" class="img-fluid footer_img" width="180" height="108" alt="TradersFind" /> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="footerbrands mt-5">
      <div class="card rounded-0 position-relative logo_slider logo_slider2">
        <div class="card-body">
          <div class="btn btn-primary-gradiant powerby">Sponsored by</div>
  
          <owl-carousel-o [options]="customOptionsCities6">
            
              <ng-template carouselSlide>
                <div class=" text-center footer_5">
                  <img src="assets/images/brands/footer-brands/1.webp" width="210" height="35" class="img-fluid" alt="" />
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class=" text-center footer_5">
                  <img src="assets/images/brands/footer-brands/2.webp" width="250" height="80" class="img-fluid" alt="" />
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class=" text-center footer_5">
                  <img src="assets/images/brands/footer-brands/3.webp" width="150" height="80" class="img-fluid" alt="" />
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class=" text-center footer_5">
                  <img src="assets/images/brands/footer-brands/4.webp" width="200" height="80" class="img-fluid" alt="" />
                </div>
              </ng-template>
         
           
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <p class="text-white mt-2 ms-xl-5 mb-1 text-center">
      Copyright &copy; 2023 Interconnect Marketing Management L.L.C All rights reserved.
    </p>
  </footer>
  
 <!-- 
  <div>
    <a target="_blank" href="https://api.whatsapp.com/send?phone=971569773623&text=Browsed TradersFind" class="whatsappBg_mobile">
      <img src="assets/images/whatsapp2.webp" width="100%" height="100%" alt="" /></a>
  </div>
-->