<link rel="stylesheet" href="/assets/css/prod.css" />
<app-header-sub></app-header-sub>
<!-- <app-banner-adv [bannerPosition]="'Product Details Top'" [renderServerSide]="false" [image]="image"></app-banner-adv> -->
<section class="p-3">
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">TradersFind </a></li>
      <!-- <li class="breadcrumb-item">
        <a href="#">Industrial Valves & Valve Fittings</a>
      </li> -->
      <li class="breadcrumb-item active fwbold" aria-current="page" *ngIf="prodDetails">
        {{prodDetails.productName}}
      </li>
    </ol>
  </nav>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 product_details_img">
              <div class="fotorama" *ngIf="prodDetails" data-nav="thumbs" data-thumbmargin="20" data-width="100%"
                data-allowfullscreen="true" data-height="auto" data-ratio="800/600">
                <app-traders-img [id]="prodDetails && prodDetails.images && prodDetails.images.length > 0
                                      ? prodDetails.images[0].id
                                      : null" [imageContent]="prodDetails && prodDetails.images && prodDetails.images.length > 0 && 
                                      (prodDetails.images[0].imageContentContentType === null) ? null: ''"
                  [prodName]="prodDetails.altText ? prodDetails.altText : prodDetails.productName" target="_blank"
                  [class]="'img-fluid'" width="60" height="60"></app-traders-img>

              


              </div>
            </div>
            <div class="col-lg-5">
              <h1 class="fwbold fs-3" *ngIf="prodDetails">
                {{prodDetails.productName}}
              </h1>


              <span class="fwbold fs-3 text-red" *ngIf="prodDetails && (prodDetails.price || prodDetails.maxPrice)">

                <span
                  *ngIf="prodDetails.price && (prodDetails.maxPrice == null || prodDetails.maxPrice == '')"><strong>Price:</strong>
                  {{prodDetails.price}}</span>
                <span
                  *ngIf="prodDetails.maxPrice && (prodDetails.price == null || prodDetails.price == '')"><strong>Price:</strong>
                  {{prodDetails.maxPrice}}</span>
                <span
                  *ngIf="prodDetails.price && prodDetails.price != '' && prodDetails.maxPrice && prodDetails.maxPrice != ''"><strong>Price:</strong>
                  {{prodDetails.price}} - {{prodDetails.maxPrice}}</span>
                <span *ngIf="prodDetails.currency">{{prodDetails.currency}} / Piece</span>
                <span *ngIf="!prodDetails.currency">AED / Piece</span>

              </span>
              <!-- <a href="#" class="text-blue border-bottom">Get latest price</a> -->
              <ul class="pro-details my-4">

                <li *ngFor="let spec of $any(prodSpecs | slice:0:5); let i=index;">
                  <span>{{spec.SpecificationName}}</span> <span>:</span>
                  <span>{{spec.SpecValue}}</span>
                </li>

              </ul>
              <!-- <a href="#" class="mt-4 text-blue">View more details</a> -->

              <app-ratings *ngIf="prodDetails" [rate]="prodDetails.rating"></app-ratings>
              <div class="text-center mt-4">
                <button (click)="openPostRequirement(prodDetails.productName)"
                  class="btn-primary-gradiant rounded-2 py-2 lh-1 px-4">
                  <span class="fwbold fs-4"> Get Latest Price</span>
                  <small class="d-block">Request a quote</small>
                </button>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card bg-grey3 border-0">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center">
                    <span class="bg-white px-3 rounded-10 py-5">
                      <!-- <img src="assets/images/Apex-logo.png" alt="" /> -->
                      <app-traders-img *ngIf="prodDetails" [id]="
                      prodDetails && prodDetails.seller.logo
                        ? prodDetails.seller.logo.id
                        : null"
                        [prodName]="prodDetails.seller.sellerCompanyName ? prodDetails.seller.sellerCompanyName : prodDetails.productName"
                        target="_blank" [class]="" height="20" ></app-traders-img>
                    </span>

                    <h2 class="fwbold fs-4 mt-3"
                      *ngIf="prodDetails && prodDetails.seller && prodDetails.seller.sellerCompanyName">
                     <a [href]="urlService.getSellerUrl(prodDetails.seller.sellerUrl,prodDetails.seller.id)" target="_blank" class="text-blue"> {{prodDetails.seller.sellerCompanyName}} </a></h2>
                    <div class="fs-5 mt-2">
                      <img class="me-2" src="assets/images/location-3.svg" width="15" alt="" />
                      <a *ngIf="prodDetails" [href]="
                      urlService.getSellerUrl(prodDetails.seller.sellerUrl,prodDetails.seller.id)" target="_blank">
                        <span *ngIf="
                        prodDetails.seller.mainMarkets &&
                        prodDetails.seller.mainMarkets.length > 0 &&
                        (prodDetails.seller.mainMarkets.length[0] != '' ||
                          prodDetails.seller.mainMarkets.length[0] != null)
                      " class="service-area">{{ prodDetails.seller.mainMarkets.join(", ") }}</span>
                        <span *ngIf="
                        (!prodDetails.seller.mainMarkets ||
                          (prodDetails.seller.mainMarkets &&
                            prodDetails.seller.mainMarkets.length == 0) ||
                          (prodDetails.seller.mainMarkets &&
                            prodDetails.seller.mainMarkets.length > 0 &&
                            (prodDetails.seller.mainMarkets[0] == null ||
                              prodDetails.seller.mainMarkets[0] == ''))) &&
                        (prodDetails.seller.country ||
                          prodDetails.seller.state ||
                          prodDetails.seller.city)
                      " class="service-area">
                          {{ prodDetails.seller.city ? prodDetails.seller.city + ", " : "" }}
                          {{ prodDetails.seller.state ? prodDetails.seller.state + ", " : "" }}
                          {{ prodDetails.seller.country ? prodDetails.seller.country : "" }}</span>
                      </a>
                    </div>
                    <div class="d-flex align-items-center flex-wrap mt-3">
                      <div class="d-flex align-items-center me-3">
                        <img src="assets/images/crown.png" class="me-1" alt="" />
                        <span>Premium Supplier</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <img src="assets/images/verifiedw2.png" alt="" class="me-1" />

                      </div>
                    </div>
                    <button *ngIf="prodDetails" class="btn btn-light mt-5 bg-white"
                      (click)="this.maskingService.onClickPhoneNum(prodDetails.seller, 'sellerVirtualContactPhone', this.urlService.getProductUrl(prodDetails.productName,prodDetails.id), prodDetails)">
                      <img src="assets/images/phone.png" width="15" alt="" />
                      {{this.maskingService.getMaskedNumber(prodDetails.seller,
                      'sellerVirtualContactPhone')}}

                    </button>
                    <div class="d-flex align-items-center w-100 mt-3 gap-2">
                      <a *ngIf="prodDetails"
                        [href]="this.urlService.getProductToWhatsapp(prodDetails.productName, prodDetails.id, prodDetails.seller)"
                        class="whatsappbtn btn btn-sm w-100" target="_blank">
                        Connect on whatsapp
                      </a>
                      <button (click)="openPostRequirement(prodDetails.productName)"
                        class="btn-outline-gradiant btn btn-sm w-100">
                        <img src="assets/images/mail-solid.png" alt="" /> Send
                        Inquiry
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-grey4 mt-5 py-4">
  <div class="container-fluid">
    <div class="row gy-4">
      <div class="col-lg-12">
        <h2 class="border-center text-center mb-4">
          More products from this seller
        </h2>
      </div>


      <app-more-products *ngIf="prodDetails && prodDetails.seller" [productId]="prodDetails.id"
        [seller]="prodDetails.seller"></app-more-products>
    </div>
  </div>
</section>

<section class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-8">
      <ul class="nav nav-pills mb-3 tabbedpanel" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <!-- Navigation button for "Product Details" -->
          <button class="nav-link active" id="pills-product-tab" data-bs-toggle="pill" data-bs-target="#pills-product"
            type="button" role="tab" aria-controls="pills-product" aria-selected="true">
            Product Details
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <!-- Navigation button for "Company Details" -->
          <button class="nav-link" id="pills-company-tab" data-bs-toggle="pill" data-bs-target="#pills-company"
            type="button" role="tab" aria-controls="pills-company" aria-selected="false">
            Company Details
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active fs-5" id="pills-product" role="tabpanel"
          aria-labelledby="pills-product-tab" tabindex="0">
          <h3 class="fwbold mt-4 fs-3">Product Specification</h3>

          <table class="table producttable fs-5">
         
            <tbody *ngIf="prodDetails">
              <td [width]="250">Brand</td>
              <td>{{prodDetails.brand}}</td>
            </tbody>
            <tbody *ngFor="let spec of prodSpecs">
              <td>{{spec.SpecificationName}}</td>
              <td>{{spec.SpecValue}}</td>
            </tbody>
  
          </table>

          <h3 class="fwbold mt-4 fs-3">Product Description</h3>



          <p *ngIf="prodDetails && prodDetails.productDescription">
            {{prodDetails.productDescription}}</p>
        </div>
        <div class="tab-pane fade fs-5" id="pills-company" role="tabpanel" aria-labelledby="pills-company-tab"
          tabindex="0">
          <h3 class="fwbold mt-4 fs-3">About the Company</h3>

          <table class="table table-borderless" *ngIf="prodDetails">
            
            <tbody>
              <td>
                Nature of Business <br />
                {{
                prodDetails.seller.sellerCompanyType
                }}
              </td>
              <td>
                Year of Establishment <br />
                {{prodDetails.seller.sellerInceptionYear}}
              </td>
              <td>
                Website <br />
                <a [href]="prodDetails.seller.sellerWebsite" title="Seller Website" target="_blank" class="text-blue">{{prodDetails.seller.sellerWebsite}} </a>
              </td>
            </tbody>
            <tbody>
              <td>
                Working Days <br />
                <span *ngIf="this.businessDays">{{businessDays}}</span><span
                  *ngIf="this.businessHours">{{businessHours}}</span>
              </td>
              <td>
                Trade License <br />
                {{prodDetails.seller.tradeLicenseNumber}}
              </td>
              <td>
                Service Area <br />
                <span title="{{ prodDetails.seller.mainMarkets.join(', ') }}" *ngIf="
                prodDetails.seller.mainMarkets &&
                prodDetails.seller.mainMarkets.length > 0 &&
                prodDetails.seller.mainMarkets[0] &&
                prodDetails.seller.mainMarkets[0] != ''
              ">{{ prodDetails.seller.mainMarkets.join(", ") }}</span>
                <span title="{{ prodDetails.seller?.sellerState }}, {{ prodDetails.seller?.sellerCountry }}" *ngIf="
                !(
                  prodDetails.seller.mainMarkets &&
                  prodDetails.seller.mainMarkets.length > 0 &&
                  prodDetails.seller.mainMarkets[0] &&
                  prodDetails.seller.mainMarkets[0] != ''
                )
              ">{{ prodDetails.seller?.sellerState }}, {{ prodDetails.seller?.sellerCountry }}</span>
              </td>
            </tbody>
            <tbody>
              <td>
                Certified <br />
                Certified by TradersFind
              </td>
              <!-- <td>
                Map Location <br />

                <a [href]="mapUrl()" target="_blank" class="text-blue border-bottom-1">Click Here for Map</a>
              </td> -->
            </tbody>
          </table>
          <div *ngIf="prodDetails">
            {{prodDetails.seller.sellerCompanyName}}
          </div>
          <div *ngIf="prodDetails && prodDetails.seller && prodDetails.seller.sellerTagline" [innerHTML] = "prodDetails.seller.sellerTagline">
            
          </div>
          <a *ngIf="prodDetails && prodDetails.seller" [href]="this.urlService.getSellerUrl(prodDetails.seller.sellerUrl,prodDetails.seller.id)
          " target="_blank" title="{{ prodDetails.seller.sellerCompanyName }}" target="_blank"
            class="btn-primary-gradiant rounded-10 mt-4 px-md-5">
            View more
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <form *ngIf="this.requirementService.prodDetailFrom"
      [ngClass]="!this.requirementService.isFormvalid?'was-validated':''"
      [formGroup]="this.requirementService.prodDetailFrom">
        <div class="card fs-5 rounded-20">
          <div class="card-header py-3 bg-gradiant rounded-header text-center">
            <span class="mb-0 fwbold">Send Enquiry to Supplier</span>>
          </div>
          <div class="card-body px-md-5 pt-4 pb-5">
            <h3 class="fs-4">TO: {{prodDetails?prodDetails.sellerCompanyName:'TradersFind'}}</h3>
            <hr class="mt-4" />
            <div class="form-group mt-4">
              <label for="description" class="form-label">Describe in few words *</label>
              <textarea name="" class="form-control" id="" cols="30" rows="3" formControlName="description"
                placeholder="Please include product name, order quantity, usage, special request if any in your inquery."></textarea>
              <a href="" class="text-blue small">+Add Attachment</a>
            </div>
            <div class="form-group mt-4">
              <label for="" class="form-label"> Email ID * </label>
              <input type="text" formControlName="enquirerEmail" class="form-control" name="email"
                placeholder="Email ID" />
            </div>
            <div class="form-group mt-4">
              <label for="" class="form-label"> Mobile number * </label>
              <div class="input-group phonewithstdcode">
                <input type="text" formControlName="noCode" class="form-control stdcode" value="+971" />
                <input type="text" formControlName="mobileNo" class="form-control" placeholder="Mobile" />
              </div>
            </div>
            <div class="form-group mt-4">
              <div class="form-check">
                <input class="form-check-input" formControlName="checkbox" type="checkbox" value=""
                  id="flexCheckChecked" checked />
                <label class="form-check-label" for="flexCheckChecked">
                  I agree to
                  <a href="" class="text-decoration-underline">terms and conditions</a>
                </label>
              </div>
            </div>
            <app-loadp *ngIf="this.requirementService.spannerval" style="height: 10%; width: 20%; margin-left: -5px;"></app-loadp>
            <div class="text-center">
              <button (click)="this.requirementService.onClickSubmitRequirement()"
              class="btn-primary-gradiant px-md-5 py-2 rounded-10 fs-5 fwbold mt-3 mb-3">Submit Requirement</button>
            </div>
          </div>
        </div>
      </form>
      
      <app-otp *ngIf="this.requirementService.isVerification"
      [countryCode]="this.requirementService.prodDetailFrom.value.noCode"
      [mobileNo]="this.requirementService.prodDetailFrom.value.mobileNo"></app-otp>

      

    </div>
  </div>
</section>
<section class="bg-grey4 mt-5 py-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="border-center text-center mb-4">Browse related PRODUCTS</h2>
      </div>

      <div class="col" *ngFor="let product of rproducts;let i= index;">
        <div class="card border-0 bg-transparent">
          <div class="card-body text-center">
            <span class="border1 p-3 text-center d-block rounded-10 bg-white">
              <app-traders-img [id]="
                product && product.images && product.images.length > 0
                  ? product.images[0].id
                  : null" [prodName]="product.altText ? product.altText : product.productName" target="_blank"
                [class]="'img-fluid'"></app-traders-img>
              <!-- <img src="assets/images/product3.png" class="img-fluid" alt="" /> -->
            </span>
            <h3 class="mt-1 fs-6 fwbold"><a
                [href]="this.urlService.getProductUrl(prodDetails.productName, prodDetails.id)">
                {{product.productName}}</a></h3>
          </div>
        </div>
      </div>


      <!-- <div class="col-lg-12 text-center">
        <button class="btn-primary-gradiant rounded-10 mt-4 px-md-5">
          View More
        </button>
      </div> -->
    </div>
  </div>
</section>
<app-footer *ngIf="prodDetails"></app-footer>