
<div class="logo-container" style="background-image: -moz-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
background-image: -webkit-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
background-image: -ms-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%); ">
    <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
      <!--<rect width="100" height="100" rx="50" ry="50" />-->
      <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#fff" font-size="40">{{ firstLetter }}</text>
    </svg>
  </div>