
<app-header-sub></app-header-sub>


<section class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <h2 class="border-center text-center fs-2"><span class="text-info">Terms & </span><span class="text-danger">Conditions</span></h2>
      <div class="fs-18 pt-4 text-center">
        <p>
          Interconnect Marketing Management L.L.C presents the Terms and Conditions for using the website ‘TradersFind’. By using this website, you agree to abide by the terms and conditions outlined in this document. It is important to read and understand these terms before using the website.
        </p>
      </div>

      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3 rounded-10 shadow2">
        <h3 class="fwbold fs-4"> Acceptance </h3>
        <p>
          This agreement is between the user and ‘Traders Find’. By using, accessing, or browsing our website, you agree to be bound by the terms and conditions set forth in this agreement. If you do not agree to these terms and conditions, please leave the website immediately and do not use it further. This agreement is the only agreement between you and ‘Traders Find’, and it supersedes all other agreements, representations, warranties, and understandings regarding our website and services. However, additional terms and conditions may apply to your use of our website and services. We may change this agreement at any time without specific notice to you, and the latest agreement will be posted on our website. By continuing to use our website, you agree to be bound by any changes to this agreement. It is important to periodically review this agreement, and if you do not accept it, you should discontinue use of our website and services immediately.
        </p>
      </div>

      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3">
        <h3 class="fwbold fs-4"> Conditions And Restrictions </h3>
        <p>
          The use of “Traders Find’s” Products and Services is subject to following the Terms and Conditions. It also states that if you fail to comply with these rules, “Traders Find” may terminate your access to their website or any of their Products and Services. Such termination may happen without notice and is at the discretion of “Traders Find”. Furthermore, “Traders Find” has the right to terminate any user's access to their website or Products and Services for conduct that they believe is or may be harmful to other users,“Traders Find”, any third party, or for any conduct that violates local or foreign laws or regulations.
        </p>
      </div>

      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3 rounded-10 shadow2">
        <h3 class="fwbold fs-4"> Defined permission </h3>
        <p>
          When you submit a web page to “Traders Find” or any other web page hosting service on “Traders Find”, you give them permission to use and share your content with others. This includes the ability to copy, display, perform, and distribute your web page and any associated content, such as text or images. They can use your web page to promote it within “Traders Find” and on other websites. This permission applies to any form, media, or technology now or in the future. However, this permission is only valid while you are a member of “Traders Find”. You should also know that “Traders Find” may place ads on your web page, such as banner ads or pop-ups. The way these ads are displayed may change over time.
        </p>
      </div>

      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3">
        <h3 class="fwbold fs-4"> Legal Adherence  </h3>
        <p>
          The website requires users to follow all relevant domestic and international laws, statutes, ordinances, and regulations when using their website, content, services, and any software provided therein. Users must actively comply with these legal requirements.
        </p>
        <p>
          The website will respond promptly to any claims of copyright infringement found in their content, in compliance with the relevant laws of the United Arab Emirates.
        </p>
        <ul class="businessBg">
          <li>
            <span class="text-danger fs-1">-</span> If someone believes that their copyrights have been infringed upon by the content on the website, they can file a written notice through mail, fax, or email.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> The notice should include an electronic or physical signature of the authorized person acting on behalf of the copyright owner.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> A description of the copyrighted work that has been infringed upon must also be provided in the notice.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> The notice must also contain a description of where the infringing material is located on the website.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> The address, telephone number, and email address of the person filing the notice should be included in the notice.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> A statement by the filer that they have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law must also be included.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> Lastly, a statement under penalty of perjury must be provided, stating that the information provided in the notice is accurate and that the filer is the copyright owner or authorized to act on the copyright owner's behalf.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> The website will only respond to notices that substantially comply with the above requirements.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> The website will investigate the claim and notify the filer by the method of contact used to file the notice.
          </li>
        </ul>
      </div>

      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3 rounded-10 shadow2">
        <h3 class="fwbold fs-4"> Indemnity </h3>
        <p>
          You gave assent to defend, indemnify, and keep Interconnect Marketing Management L.L.C, its associates, and workers safe from any expenses, legal fees, and other costs related to any breach of these Terms and Conditions by you or anyone using your account, or regarding your use of this website or posting or sending any information or materials on this site.
        </p>
      </div>

      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3 ">
        <h3 class="fwbold fs-4"> Miscellaneous: </h3>
        <p>
          Interconnect Marketing Management L.L.C's Terms and Conditions, along with its Privacy and Security Policy and other referenced documents, make up the entire agreement between you and the company for your use of their website. If Interconnect Marketing Management L.L.C does not enforce any provision of the agreement, it does not mean that they have waived any of their rights.
        </p>
        <p>
          If a court decides that any part of the Terms and Conditions is not valid or cannot be enforced, it will not affect the rest of the agreement.
        </p>
        <p>
          The agreement is governed by the laws of the United Arab Emirates, and any disputes will be settled in Abu Dhabi courts.
        </p>
      </div>

      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3 rounded-10 shadow2">
        <h3 class="fwbold fs-4"> Disclaimer </h3>
        <p>
          We,“Traders Find”, are not responsible for any content posted by our website users, whether it is offensive, inappropriate, or unlawful. We provide guidelines for conduct and postings, but we do not control what users post, share or transmit on our website or services.
        </p>
        <p>We may have temporary downtime due to maintenance or other reasons, and we are not responsible for any errors, interruptions, or delays that occur. We are also not responsible for any technical problems, such as malfunctioning computer systems, servers or providers, email failures, or traffic congestion on the internet, that may cause damage or injury to your hardware or software.</p>
        <p>
          We are not liable for any loss or damage, including personal injury or death, resulting from your use of our website or services, or any interactions you have with other users, whether online or offline.
        </p>
        <p>
          We reserve the right to change the content, software, or other items on our website or services without notice. Any reference to products, services, or other information does not imply endorsement or affiliation with our website or services.
        </p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>