@font-face {
  font-family: "Calibri";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibrib";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibril";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

body {
  font-size: 15px;
  background: #f8f8f8;
  font-family: "Calibri";
}

.fwbold {
  font-family: "Calibri";
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

a:hover {
  color: #873636;
}

.border_img img {
  width: 100%;
  border-radius: 10px !important;
  padding: 0 5px;
}

.border-rounded-end {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-14 {
  font-size: 14px;
}

.categories {
  padding: 15px;
}

.rounded-10 {
  border-radius: 10px;
}

.categories ul {
  margin-top: 10px;
}

.categories ul li {
  position: relative;
  margin: 5px 0;
}

.categories ul li ul {
  position: absolute;
  display: none;
  left: 100%;
  background-color: white;
  min-width: 200px;
  margin: 0;
  top: 0;
  box-shadow: 2.6px 1.5px 5px rgb(0 0 0 / 30%);
  border-radius: 19px;
  padding: 8px;
  z-index: 10000;
}

.categories ul li ul li {
  margin: 0;
}

.categories ul li ul li a {
  display: block;
  padding: 5px 15px;
}

.categories ul li:hover ul {
  display: block;
}

.categories ul li:last-child {
  margin-bottom: 0px !important;
}

.brand-box {
  min-height: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  height: 100%;
}

@media (max-width: 1224px) {
  .fs-18 {
    font-size: 16px !important;
  }
}

.border-center {
  position: relative;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 600;
}

.border-center:after {
  position: absolute;
  background-color: #bd3838;
  height: 4px;
  width: 78px;
  left: 50%;
  bottom: -22px;
  transform: translate(-50%, -10px);
  content: "";
}

input:focus {
  box-shadow: none !important;
}

.middle-content {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translate(0px, -50%);
}

.rounded-end {
  border-radius: 0 500px 500px 0 !important;
}

.fs-13 {
  font-size: 13px;
}

.text-info {
  color: #3ea5da !important;
}

.border1 {
  border: 1px solid #c1c1c1;
}

.rounded-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.rounded-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.shadow2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 4.85px 0.15px rgba(0, 0, 0, 0.25);
}



.fs-12 {
  font-size: 12px;
}

.end-8 {
  right: 8px;
}

.fs-18 {
  font-size: 18px;
}

.text-primary2 {
  color: #5e5ed1;
}

.text-primary {
  color: #0501a6 !important;
}

.rounded-top-20 {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.mb-10 {
  margin-bottom: 80px;
}

.pt20 {
  padding-top: 20px;
}

.pb100 {
  padding-bottom: 100px;
}

.new_img img {
  width: 100%;
}

h3.fwbold {
  margin-top: 15px;
}

.login-detailsBg {
  margin-top: -60px;
  border-radius: 5px;
  padding: 15px;
}

.login-detailsBg a {
  font-weight: 600;
  cursor: pointer;
}

.Details:after {
  content: '';
  display: block;
  width: 70px;
  background: rgb(189, 56, 56);
  height: 3px;
}

.login-detailsBg .media-left,.media-body {
  display: table-cell;
  vertical-align: top;
}

.login-detailsBg .media-left img {
  width: 85px;
  padding-right: 15px;
}

.login-detailsBg .media {
  border-bottom: 1px solid #ccc;
  padding: 25px 0px;
}

.login-detailsBg .media:last-child {
  border: none;
}

.customer {
  z-index: 9;
}

.feedback2 {
  padding: 15px;
}

.businessBg li {
  padding: 5px 0px !important;
  position: relative;
  padding-left: 20px !important;
}

.businessBg li span {
  position: absolute;
  left: 0;
  top: -15px;
}

.login-detailsBg2 .media {
  border: none;
}

@media (max-width: 767px) {
  .footer_img {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .border-center {
    font-size: 19px !important;
    text-transform: capitalize;
    padding: 0 15px;
  }

  .brand-box {
    min-height: 90px;
    padding: 0;
    height: auto;
  }

  .about_text p {
    text-align: justify;
  }

  .login-detailsBg .media-heading {
    font-size: 16px;
  }

  .login-detailsBg .media-left img {
    width: 60px;
  }

  .login-detailsBg .media {
    padding: 10px 0px;
  }

  h3,  h4,  h5,  h6 {
    font-size: 18px !important;
  }
}

.about_text2 {
  position: relative;
  padding-left: 82px;
}

.about_text2 b {
  position: absolute;
  left: 0;
}

.about_text3 {
  position: relative;
  padding-left: 75px;
}

.about_text3 b {
  position: absolute;
  left: 0;
}

.border_img2 img {
  margin: auto;
  display: table;
}

.sellers_text {
  position: relative;
}

.sellers_text li {
  padding-left: 10px;
}

.sellers_text li:before {
  content: '';
  background: #434344;
  height: 5px;
  width: 5px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  margin-top: 9px;
}

@media (max-width: 992px) {
  .new_img_11 {
    width: 49%;
    float: left;
    padding-left: 5px;
  }
}

@media (max-width: 767px) {
  .border_img2 img {
    align-items: center;
  }

  .mt10 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  h2[_ngcontent-serverApp-c43] {
    font-size: 34px !important;
    padding: 42px 16px !important;
  }
}

.categories ul li a {
  display: block;
  font-size: 16px;
}