@font-face {
  font-family: "Calibri";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibrib";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibril";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

body {
  font-size: 15px;
  background: #f8f8f8;
  font-family: "Calibri";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

a:hover {
  color: #873636;
}

.border_img img {
  width: 100%;
  border-radius: 10px !important;
  padding: 0 5px;
}

.categories {
  padding: 15px;
}

.rounded-10 {
  border-radius: 10px;
}

.categories ul {
  margin-top: 10px;
}

.categories ul li {
  position: relative;
  margin: 5px 0;
}

.categories ul li ul {
  position: absolute;
  display: none;
  left: 100%;
  background-color: white;
  min-width: 200px;
  margin: 0;
  top: 0;
  box-shadow: 2.6px 1.5px 5px rgb(0 0 0 / 30%);
  border-radius: 19px;
  padding: 8px;
  z-index: 10000;
}

.card-shadow {
  box-shadow: 2.6px 1.5px 5px rgb(0 0 0 / 30%);
}

.categories ul li ul li {
  margin: 0;
}

.categories ul li ul li a {
  display: block;
  padding: 5px 15px;
}

.categories ul li:hover ul {
  display: block;
}

.categories ul li:last-child {
  margin-bottom: 0px !important;
}



@media (max-width: 1224px) {
  .controls {
    gap: 10px !important;
    width: 100%;
    padding: 0;
  }
}

.border-center {
  position: relative;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 600;
}

.border-center:after {
  position: absolute;
  background-color: #bd3838;
  height: 4px;
  width: 78px;
  left: 50%;
  bottom: -22px;
  transform: translate(-50%, -10px);
  content: "";
}

.category-filter {
  display: flex;
  gap: 20px;
  margin: 22px 0;
}

.category-filter li a {
  border: 2px solid transparent;
  border-radius: 7px;
  background: linear-gradient(-40deg, white, white), linear-gradient(-40deg, rgba(13, 88, 140, 1), rgba(189, 56, 56, 1));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  width: 100px;
  height: 40px;
  padding: 5px 15px;
}

.category-filter li.active a {
  background: linear-gradient(-40deg, rgba(13, 88, 140, 1), rgba(189, 56, 56, 1));
  color: white;
  border: 0;
  padding: 7px 17px;
}

.pagination2 {
  display: flex;
  gap: 5px;
}

.pagination2 li a {
  border: 1px solid black;
  width: 24px;
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pagination2 li.active a {
  background: linear-gradient(-40deg, rgba(13, 88, 140, 1), rgba(189, 56, 56, 1));
  color: white;
}

.card-header {
  background-color: #8f8f8f;
  color: white;
}

.border1 {
  border: 1px solid #c1c1c1;
}

.border-bottom-1 {
  border-bottom: 1px solid blue;
}

.rounded-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.rounded-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.shadow2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 4.85px 0.15px rgba(0, 0, 0, 0.25);
}



.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-8 {
  bottom: 8px;
}

.controls {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1077px;
}

.rounded-bottom-20 {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.mb-10 {
  margin-bottom: 80px;
}

.pb100 {
  padding-bottom: 100px;
}

.bg1 {
  background: #f9e0e6;
}

.bg2 {
  background: #daffd6;
}

.bg3 {
  background: #f8fac9;
}

.bg4 {
  background: #f92186;
}

.bg5 {
  background: #38ed22;
}

.bg6 {
  background: #c1c60a;
}

.bg7 {
  background: #f8f8f8;
}

.bg8 {
  background: #e3dfe0;
}

.bg9 {
  background: #dfdfdf;
}

.card-body3 {
  background: #fff;
  border-radius: 10px;
}

.card-body3 img {
  width: 100px;
}

.card-body2 {
  text-align: left;
}

@media (max-width: 767px) {
  .footer_img {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .blog {
    margin: 0px;
  }

  .border-center {
    font-size: 19px !important;
    text-transform: capitalize;
    padding: 0 15px;
  }

  h3,  h4,  h5,  h6 {
    font-size: 18px !important;
  }
}

.border_img2 img {
  margin: auto;
  display: table;
}

.front_blog img {
  border-radius: 3px;
}

.front_blog2 p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 0px;
}

.front_blog2 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
}

.front_blog2 small {
  font-size: 15px;
  color: #a19c9c;
  padding-bottom: 5px;
}

.front_blog22 h3 {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .border_img2 img {
    align-items: center;
  }

  .mt10 {
    margin-top: 10px;
  }
}

.hidden-content {
  display: none;
}

@media (max-width: 767px) {
  h2[_ngcontent-serverApp-c43] {
    font-size: 34px !important;
    padding: 42px 16px !important;
  }
}

.categories ul li a {
  display: block;
  font-size: 16px;
}