@font-face {
  font-family: "Calibri";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibrib";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibril";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

body {
  font-size: 15px;
  background: #f8f8f8;
  font-family: "Calibri";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

a:hover {
  color: #873636;
}

.btn-primary-gradiant {
  color: white;
  padding: 6.5px 24px;
  border: 0;
  line-height: 25px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-image: -moz-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -webkit-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -ms-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-size: 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: none;
}

.btn-primary-gradiant:hover {
  background-size: 200%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.border_img img {
  width: 100%;
  border-radius: 10px !important;
  padding: 0 5px;
}

.rounded-10 {
  border-radius: 10px;
}
.footer_img {
  width: 180px;
}

.footer {
  background: linear-gradient(-90deg, rgba(13, 88, 140, 1) 30%, rgba(13, 88, 140, 1) 0%, rgba(189, 56, 56, 1) 100%, rgba(189, 56, 56, 1) 100%);
}

.footermenu {
  margin-top: 20px;
}

.footermenu li a {
  color: #cccccc;
  font-size: 20px;
}

.footermenu2 {
  display: flex;
  align-items: center;
}

.powerby {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%, 20px);
  border: 1px solid;
  padding: 5px 40px;
  border-radius: 7px;
}

.text-grey {
  color: #cccccc;
}

.footermenu2 li a {
  color: #cccccc;
  font-size: 20px;
  display: block;
  border-right: 1px solid #cccccc;
  padding: 0 22px 0 0;
  margin-right: 20px;
  line-height: 18px;
}

.footermenu2 li:last-child a {
  border-right: 0px;
}

@media (max-width: 1224px) {
  .footermenu li a {
    font-size: 16px;
  }

  .footermenu2 {
    justify-content: space-between;
  }

  .footermenu2 li a {
    font-size: 15px;
    padding: 0 8px 0 0;
    margin-right: 5px;
  }
}

.border-center {
  position: relative;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 600;
}

.border-center:after {
  position: absolute;
  background-color: #bd3838;
  height: 4px;
  width: 78px;
  left: 50%;
  bottom: -22px;
  transform: translate(-50%, -10px);
  content: "";
}

.border1 {
  border: 1px solid #c1c1c1;
}

.rounded-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}



.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-grey {
  border-color: #a1a1a1 !important;
}

.text-primary2 {
  color: #5e5ed1;
}

.text-primary {
  color: #0501a6 !important;
}

.mb-10 {
  margin-bottom: 80px;
}

.pt20 {
  padding-top: 20px;
}

.pb100 {
  padding-bottom: 100px;
}

.whatsappBg_mobile {
  display: none;
}

.TradersFindB {
  margin: auto;
  display: table;
  padding: 2px 15px !important;
}

.feedback2 {
  padding: 15px;
}

.feedback2 label {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0px;
}

.feedback2 .btn-primary-gradiant {
  width: auto;
  margin: auto;
}

.card-body3 {
  background: #fff;
  border-radius: 10px;
}

.card-body3 img {
  width: 100px;
}

.footer_social li img {
  width: 45px;
}

.card-body2 {
  text-align: left;
}

@media (max-width: 1199px) {
  .whatsappBg {
    display: none;
  }

  .whatsappBg_mobile {
    display: block;
    position: fixed;
    right: 0;
    bottom: 20%;
    z-index: 9999;
  }

  .whatsappBg_mobile img {
    width: 45px;
  }
}

@media (max-width: 767px) {
  .footermenu {
    margin-top: 0px;
  }

  .footermenu li {
    width: 100%;
    border-bottom: 1px solid #7c7575;
    padding: 5px 0px;
  }

  .footermenu li a {
    font-size: 17px;
    font-weight: 500;
  }

  .hr-border {
    display: none;
  }

  .footermenu2 {
    display: table;
    align-items: center;
    width: 100%;
    margin-top: -22px;
  }

  .footermenu2 li {
    width: 100%;
    border-bottom: 1px solid #7c7575;
    padding: 8px 0px;
  }

  .footermenu2 li a {
    border: none;
    font-size: 17px;
    font-weight: 500;
  }

  .footer_menu h4:after {
    display: block;
    content: '';
    width: 50px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
  }

  .powerby {
    left: 0;
    top: -40px;
    transform: 0;
    padding: 3px 20px;
    right: 0;
    text-align: center;
    margin: 0 15px;
    transform: translate(0%, 0px);
  }

  .footer_img {
    width: 120px;
  }

  .footerbrands .footer_5 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 5px 0px;
  }

  .footer_call {
    text-align: left;
    margin-bottom: 0 !important;
  }

  .footer_social {
    justify-content: left !important;
  }

  .footer_menu {
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .blog {
    margin: 0px;
  }

  .border-center {
    font-size: 19px !important;
    text-transform: capitalize;
    padding: 0 15px;
  }

  .about_text p {
    text-align: justify;
  }

  .product100 h2,  h3,  h4,  h5,  h6 {
    font-size: 18px !important;
  }
}

.about_text2 {
  position: relative;
  padding-left: 82px;
}

.about_text2 b {
  position: absolute;
  left: 0;
}

.about_text3 {
  position: relative;
  padding-left: 75px;
}

.about_text3 b {
  position: absolute;
  left: 0;
}

.border_img2 img {
  margin: auto;
  display: table;
}

.sellers_text {
  position: relative;
}

.sellers_text li {
  padding-left: 10px;
}

.sellers_text li:before {
  content: '';
  background: #434344;
  height: 5px;
  width: 5px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  margin-top: 9px;
}

@media (max-width: 767px) {
  .border_img2 img {
    align-items: center;
  }

  .mt10 {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .sell_product p {
    font-size: 12px !important;
  }
}

@media (max-width: 767px) {
  h2[_ngcontent-serverApp-c43] {
    font-size: 34px !important;
    padding: 42px 16px !important;
  }
}