body {
  font-size: 15px;
  background: #f8f8f8;
  font-family: "Calibri";
}

.fwbold {
  font-family: "Calibri";
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

a:hover {
  color: #873636;
}

.btn-primary-gradiant {
  color: white;
  padding: 6.5px 24px;
  border: 0;
  line-height: 25px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-image: -moz-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -webkit-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -ms-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-size: 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: none;
}

.btn-primary-gradiant:hover {
  background-size: 200%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.border_img img {
  width: 100%;
  border-radius: 10px !important;
  padding: 0 5px;
}

.fs-10 {
  font-size: 10px;
}

.fs-14 {
  font-size: 14px;
}

.rounded-10 {
  border-radius: 10px;
}

.card-shadow {
  box-shadow: 2.6px 1.5px 5px rgb(0 0 0 / 30%);
}

.card-transparent {
  background-color: rgb(255 255 255 / 80%);
  border-radius: 15px;
  padding: 20px;
}

.mxw-50 {
  max-width: 70px;
}

.bg-grey {
  background-color: #ebebeb !important;
}



.text-grey {
  color: #cccccc;
}

@media (max-width: 1224px) {
  .category-hover img {
    max-width: 100px;
  }

  .fs-18 {
    font-size: 16px !important;
  }

  .sub_category_list2 ul li {
    margin: 20px 0;
  }

  .sub_category_list li {
    width: 50% !important;
  }
}

.border-center {
  position: relative;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 600;
}

.border-center:after {
  position: absolute;
  background-color: #bd3838;
  height: 4px;
  width: 78px;
  left: 50%;
  bottom: -22px;
  transform: translate(-50%, -10px);
  content: "";
}

.bg-grey2 {
  background-color: #ececec;
}

input:focus,textarea:focus {
  box-shadow: none !important;
}

.fs-13 {
  font-size: 13px;
}

.bg-gradiant {
  background-image: -moz-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -webkit-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -ms-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
}

.card-header {
  background-color: #8f8f8f;
  color: white;
}

.list-style-disc li {
  position: relative;
}

.list-style-disc li a {
  display: block;
}

.list-style-disc li:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: black;
  position: absolute;
  left: -15px;
  top: 9px;
  border-radius: 20px;
}

.category-hover ul li a:hover {
  color: yellow !important;
}

.category-hover ul li:hover:after {
  background-color: yellow;
}

.category-hover:hover {
  background: linear-gradient(-40deg, rgba(13, 88, 140, 1), rgba(189, 56, 56, 1));
  color: white;
  box-shadow: 0px 0px 13px 1px rgb(0 0 0 / 30%);
}

.category-hover:hover li a {
  color: white;
}

.category-hover:hover li:after {
  background-color: white;
}

.text-blue {
  color: #253df1;
}

.bg-grey3 {
  background-color: #e2dfdf;
}

.bg-grey4 {
  background-color: #d6d6d6;
}

.border1 {
  border: 1px solid #c1c1c1;
}

.rounded-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.rounded-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.shadow2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 4.85px 0.15px rgba(0, 0, 0, 0.25);
}



.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fs-12 {
  font-size: 12px;
}

.sub_category_list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.sub_category_list li {
  width: 25%;
}

.fs-18 {
  font-size: 18px;
}

.item-hover .hover-text h3 {
  font-size: 18px;
  margin: 10px 0 20px;
  text-align: center;
}

.form-check-input:checked {
  background-color: #1b79be;
  border-color: #1b79be;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.form-control,.form-select {
  border-color: #a1a1a1;
}

.border-grey {
  border-color: #a1a1a1 !important;
}

.text-blue2 {
  color: #5e5ed1;
}

.text-primary2 {
  color: #5e5ed1;
}

.text-primary {
  color: #0501a6 !important;
}

.sub_category_list2 ul {
  padding: 15px 0 60px;
}

.bg-grey3 {
  background-color: #b0b0b0;
}

.mb-10 {
  margin-bottom: 80px;
}

.sub_category_list2 h2 {
  font-weight: 600 !important;
}

h3.fwbold {
  margin-top: 15px;
}

.sub_category_list2 li {
  margin-top: 25px;
}

.bg-gradiant1 {
  background: linear-gradient(-90deg, rgba(13, 88, 140, 1) 30%, rgba(13, 88, 140, 1) 0%, rgba(189, 56, 56, 1) 100%, rgba(189, 56, 56, 1) 100%);
}

.select2-container {
  min-width: 400px;
}

.bg-gradiant2 {
  background: #f8f8f8;
}

.bg1 {
  background: #f9e0e6;
}

.bg2 {
  background: #daffd6;
}

.bg3 {
  background: #f8fac9;
}

.bg4 {
  background: #f92186;
}

.bg5 {
  background: #38ed22;
}

.bg6 {
  background: #c1c60a;
}

.bg7 {
  background: #f8f8f8;
}

.bg8 {
  background: #e3dfe0;
}

.bg9 {
  background: #dfdfdf;
}

.card-body3 {
  background: #fff;
  border-radius: 10px;
}

.card-body3 img {
  width: 100px;
}

.card-body2 {
  text-align: left;
}

@media (max-width: 767px) {
  .footer_img {
    width: 120px;
  }

  .form-select {
    padding: 0px;
  }
}

@media (max-width: 480px) {
  .sub_category_list li {
    width: 100% !important;
  }

  .border-center {
    font-size: 19px !important;
    text-transform: capitalize;
    padding: 0 15px;
  }

  .about_text p {
    text-align: justify;
  }

  .product100 h2,  h3,  h4,  h5,  h6 {
    font-size: 18px !important;
  }
}

.about_text2 {
  position: relative;
  padding-left: 82px;
}

.about_text3 {
  position: relative;
  padding-left: 75px;
}

.border_img2 img {
  margin: auto;
  display: table;
}

.form-select:focus {
  box-shadow: none;
}

@media (max-width: 992px) {
  .bg-grey_22.p-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (max-width: 767px) {
  .border_img2 img {
    align-items: center;
  }

  .mt10 {
    margin-top: 10px;
  }
}

.hidden-content {
  display: none;
}

@media (max-width: 767px) {
  h2[_ngcontent-serverApp-c43] {
    font-size: 34px !important;
    padding: 42px 16px !important;
  }
}