@font-face {
  font-family: "Calibri";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibrib";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibril";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

body {
  font-size: 15px;
  background: #f8f8f8;
  font-family: "Calibri";
}

.fs-10 {
  font-size: 10px;
}

.fs-14 {
  font-size: 14px;
}

.rounded-10 {
  border-radius: 10px;
}



@media (max-width: 1224px) {
  .fs-18 {
    font-size: 16px !important;
  }
}

.fs-13 {
  font-size: 13px;
}

.rounded-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.rounded-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}



.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.mb-10 {
  margin-bottom: 80px;
}

.pt20 {
  padding-top: 20px;
}

.pb100 {
  padding-bottom: 100px;
}

.bg1 {
  background: #f9e0e6;
}

.bg2 {
  background: #daffd6;
}

.bg3 {
  background: #f8fac9;
}

.bg4 {
  background: #f92186;
}

.bg5 {
  background: #38ed22;
}

.bg6 {
  background: #c1c60a;
}

.bg7 {
  background: #f8f8f8;
}

.bg8 {
  background: #e3dfe0;
}

.bg9 {
  background: #dfdfdf;
}

@media (max-width: 767px) {
  .footer_img {
    width: 120px;
  }
}

@media (max-width: 480px) {
  h3,  h4,  h5,  h6 {
    font-size: 18px !important;
  }
}

@media (max-width: 767px) {
  .mt10 {
    margin-top: 10px;
  }
}

.error_bg img {
  width: 400px;
  margin: auto;
  display: block;
}

.error_bg button {
  margin: auto;
  display: block;
}

@media (max-width: 767px) {
  .error_bg img {
    width: 100%;
  }

  h2[_ngcontent-serverApp-c43] {
    font-size: 34px !important;
    padding: 42px 16px !important;
  }
}