@font-face {
  font-family: "Calibri";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibrib";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibril";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

body {
  font-size: 15px;
  background: #f8f8f8;
  font-family: "Calibri";
}

.fwbold {
  font-family: "Calibri";
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

a:hover {
  color: #873636;
}

.btn-primary-gradiant {
  color: white;
  padding: 6.5px 24px;
  border: 0;
  line-height: 25px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-image: -moz-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -webkit-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -ms-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-size: 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: none;
}

.btn-primary-gradiant:hover {
  background-size: 200%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.fs-10 {
  font-size: 10px;
}

.fs-14 {
  font-size: 14px;
}

.rounded-10 {
  border-radius: 10px;
}

@media (max-width: 1224px) {
  .fs-18 {
    font-size: 16px !important;
  }
}

input:focus {
  box-shadow: none !important;
}

.fs-13 {
  font-size: 13px;
}

.btn-danger {
  background-color: #bd3838;
}

.text-info {
  color: #3ea5da !important;
}

.rounded-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.rounded-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.form-control {
  border-color: #a1a1a1;
}

.text-primary2 {
  color: #5e5ed1;
}

.text-primary {
  color: #0501a6 !important;
}

.btn-info {
  background-color: #5e5ed1 !important;
  border-color: #5e5ed1 !important;
  color: white;
}

.mb-10 {
  margin-bottom: 80px;
}

.btn-info {
  background-color: #3ea5da;
}

.pt20 {
  padding-top: 20px;
}

h3.fwbold {
  margin-top: 15px;
}

.customer {
  z-index: 9;
}

@media (max-width: 480px) {
  h3,  h4,  h5,  h6 {
    font-size: 18px !important;
  }
}

.sellers_text {
  position: relative;
}

@media (max-width: 767px) {
  .mt10 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  h2[_ngcontent-serverApp-c43] {
    font-size: 34px !important;
    padding: 42px 16px !important;
  }
}