@font-face {
  font-family: "Calibri";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibrib";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibril";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

body {
  font-size: 15px;
  background: #f8f8f8;
  font-family: "Calibri";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

a:hover {
  color: #873636;
}

.btn-primary-gradiant {
  color: white;
  padding: 6.5px 24px;
  border: 0;
  line-height: 25px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-image: -moz-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -webkit-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-image: -ms-linear-gradient(-40deg, rgb(189, 56, 56) 0%, rgb(13, 88, 140) 100%);
  background-size: 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: none;
}

.btn-primary-gradiant:hover {
  background-size: 200%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.fs-10 {
  font-size: 10px;
}

.fs-14 {
  font-size: 14px;
}

.rounded-10 {
  border-radius: 10px;
}

.card-transparent {
  background-color: rgb(255 255 255 / 80%);
  border-radius: 15px;
  padding: 20px;
}

.mxw-50 {
  max-width: 70px;
}

@media (max-width: 1224px) {
  .fs-18 {
    font-size: 16px !important;
  }
}

input:focus,textarea:focus {
  box-shadow: none !important;
}

.fs-13 {
  font-size: 13px;
}

.rounded-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.verified2 {
  position: absolute;
  right: 8px;
  top: 8px;
}

.w-18 {
  width: 18px !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.form-control,.form-select {
  border-color: #a1a1a1;
}

.text-primary2 {
  color: #5e5ed1;
}

.text-primary {
  color: #0501a6 !important;
}

.mb-10 {
  margin-bottom: 80px;
}

.select2-container {
  min-width: 400px;
}

.card-body3 {
  background: #fff;
  border-radius: 10px;
}

.card-body2 {
  text-align: left;
}

@media (max-width: 767px) {
  .form-select {
    padding: 0px;
  }
}

@media (max-width: 480px) {
  .about_text p {
    text-align: justify;
  }

  .product100 h2,  h3,  h4,  h5,  h6 {
    font-size: 18px !important;
  }
}

.about_text2 {
  position: relative;
  padding-left: 82px;
}

.about_text2 b {
  position: absolute;
  left: 0;
}

.about_text3 {
  position: relative;
  padding-left: 75px;
}

.about_text3 b {
  position: absolute;
  left: 0;
}

.form-select:focus {
  box-shadow: none;
}

.sellers_text {
  position: relative;
}

.sellers_text li {
  padding-left: 10px;
}

.sellers_text li:before {
  content: '';
  background: #434344;
  height: 5px;
  width: 5px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  margin-top: 9px;
}

@media (max-width: 767px) {
  .mt10 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  h2[_ngcontent-serverApp-c43] {
    font-size: 34px !important;
    padding: 42px 16px !important;
  }
}