@font-face {
  font-family: "Calibri";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibrib";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Calibril";
  src: url("/assets/fonts/Calibri.woff2") format('woff');
  font-display: swap;
}

body {
  font-size: 15px;
  background: #f8f8f8;
  font-family: "Calibri";
}

.fwbold {
  font-family: "Calibri";
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

a:hover {
  color: #873636;
}

.fs-10 {
  font-size: 10px;
}

.fs-14 {
  font-size: 14px;
}

.rounded-10 {
  border-radius: 10px;
}



@media (max-width: 1224px) {
  .fs-18 {
    font-size: 16px !important;
  }
}

.border-center {
  position: relative;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 600;
}

.border-center:after {
  position: absolute;
  background-color: #bd3838;
  height: 4px;
  width: 78px;
  left: 50%;
  bottom: -22px;
  transform: translate(-50%, -10px);
  content: "";
}

input:focus {
  box-shadow: none !important;
}

.fs-13 {
  font-size: 13px;
}

.text-info {
  color: #3ea5da !important;
}

.border1 {
  border: 1px solid #c1c1c1;
}

.rounded-20 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.rounded-header {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.shadow2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 4.85px 0.15px rgba(0, 0, 0, 0.25);
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.mb-10 {
  margin-bottom: 80px;
}

.pt20 {
  padding-top: 20px;
}

.pb100 {
  padding-bottom: 100px;
}

h3.fwbold {
  margin-top: 15px;
}

.login-contact-information li {
  width: 100%;
}

.login-contact-information li span {
  width: 120px;
  float: left;
}

.Details:after {
  content: '';
  display: block;
  width: 70px;
  background: rgb(189, 56, 56);
  height: 3px;
}

.customer {
  z-index: 9;
}

.feedback2 {
  padding: 15px;
}

.businessBg li {
  padding: 5px 0px !important;
  position: relative;
  padding-left: 20px !important;
}

.businessBg li span {
  position: absolute;
  left: 0;
  top: -15px;
}

@media (max-width: 480px) {
  .border-center {
    font-size: 19px !important;
    text-transform: capitalize;
    padding: 0 15px;
  }

  .about_text p {
    text-align: justify;
  }

  .product100 h2,  h3,  h4,  h5,  h6 {
    font-size: 18px !important;
  }
}

.about_text2 {
  position: relative;
  padding-left: 82px;
}

.about_text3 {
  position: relative;
  padding-left: 75px;
}

.sellers_text {
  position: relative;
}

.sellers_text li {
  padding-left: 10px;
}

.sellers_text li:before {
  content: '';
  background: #434344;
  height: 5px;
  width: 5px;
  border-radius: 100px;
  position: absolute;
  left: 0px;
  margin-top: 9px;
}

@media (max-width: 767px) {
  .mt10 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  h2[_ngcontent-serverApp-c43] {
    font-size: 34px !important;
    padding: 42px 16px !important;
  }
}