
<app-header-sub></app-header-sub>

<section class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <h2 class="border-center text-center fs-2"><span class="text-info">Privacy </span><span class="text-danger">Policy</span></h2>

      <div class="fs-18 pt-4 text-justify">
        <p>Interconnect Marketing Management L.L.C presents TradersFind, an online platform that primarily serves online businesses for facilitating electronic commerce and typically does not require the collection of personal information of individuals. We acknowledge the significance of privacy and the importance of preserving the confidentiality of personal data. This Privacy Policy is applicable to all products and services provided by TradersFind, and it describes how we may collect, use, and reveal information about the users of our sites.</p>
        <p>
          Our products and services may also be used through mobile-optimized websites or mobile applications, and this Privacy Policy applies to such usage.
        </p>
        <p>
          All terms not defined in this policy hold the meanings specified in the Terms and Conditions of Use Agreement between you and Interconnect Marketing Management L.L.C, which you accept by accessing this website.
        </p>
      </div>

      <div class="shadow2 fs-18 px-sm-4 pt-2 pb-4 mt-3 rounded-10 ">
        <h3 class="fwbold fs-4"> Personal Data Information </h3>
        <p>
          By providing us with any Personal Data, you are giving us permission to collect and use that information for the following purposes:
        </p>
        <ul class="businessBg">
          <li>
            <span class="text-danger fs-1">-</span> Verifying your identity;
          </li>
          <li>
            <span class="text-danger fs-1">-</span> Processing your requests as a user, creating a log-in ID for the Sites, and managing and maintaining your registration;
          </li>
          <li>
            <span class="text-danger fs-1">-</span> Providing customer support and addressing any inquiries, suggestions, disputes, or claims you may have;
          </li>
          <li>
            <span class="text-danger fs-1">-</span> Facilitating communication between buyers and sellers on our Websites and processing your transactions on our Sites;
          </li>
          <li>
            <span class="text-danger fs-1">-</span> Conducting research and statistical analysis to improve our Services and offerings, as well as for promotional and marketing purposes;
          </li>
          <li>
            <span class="text-danger fs-1">-</span> With your consent, we may use your Marketing Data (such as your name, phone number, residential address, email address, and fax number) to send you notices, surveys, product or service alerts, communications, and other marketing materials related to our Services or products offered on our Websites;
          </li>
          <li>
            <span class="text-danger fs-1">-</span> If you voluntarily submit any details for publication on our Sites using publishing tools such as Product Catalog, Company Profile, Trusted Profile, Buyer Alerts, or other discussion forums, you are consenting to the publication of that information on our Websites ("Voluntary Information")
          </li>
        </ul>
      </div>


      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3">
        <h3 class="fwbold fs-4"> How we use the information we collect </h3>
        <p>
          The reason we need this information is to serve you better by understanding your needs. Specifically, we will use the information for the following purposes:
        </p>
        <ul class="businessBg">
          <li>
            <span class="text-danger fs-1">-</span> To keep a record of your information for our internal use.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> To enhance our products and services based on your feedback.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> To periodically send you promotional emails regarding new products, special offers, or other information that we think might be of interest to you based on the email address you've provided.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> To contact you from time to time for market research purposes using your email, phone, fax, or mailing address.
          </li>
          <li>
            <span class="text-danger fs-1">-</span> To personalize the website according to your interests, using the information you've provided.
          </li>
        </ul>
      </div>

      <div class="shadow2 fs-18 px-sm-4 pt-2 pb-4 mt-3 rounded-10 ">
        <h3 class="fwbold fs-4"> External Links </h3>
        <p>
          Our Site may contain links or advertisements to third-party websites or services provided by our partners, suppliers, advertisers, sponsors, licensors, and other third parties. We do not have control over the content or links found on these websites and are not responsible for their practices. Moreover, these sites or services, along with their content and links, may change frequently. Such sites or services may have their own policies for privacy and customer service. By accessing any other website, including those linked to our Site, you are subject to that site's policies and terms.
        </p>
      </div>

      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3">
        <h3 class="fwbold fs-4"> Cookies</h3>
        <p>
          We use "cookies" to store certain information about you and track your website visits. Cookies are commonly used on websites to enhance user experience. A cookie is a small amount of data that is sent to your web browser and stored on your computer's hard drive. Unless you delete or disable cookies, our servers will be notified of your visits and patterns of usage each time you access our website using the same computer. We use cookies to identify you and allow you to access your account and registration information without having to re-enter it, gather statistical information about user behavior, analyze browsing patterns, help target advertisements based on user interests, assist our partners in monitoring user visits and processing orders, and track participation and progress in promotions.
        </p>
        <p>
          You can choose whether and how cookies are accepted by configuring your web browser. You can accept all cookies, be notified when a cookie is sent, or decline all cookies. If you choose to decline cookies, you may need to re-enter information more frequently and some features of our website may be unavailable.
        </p>
      </div>

      <div class="shadow2 fs-18 px-sm-4 pt-2 pb-4 mt-3 rounded-10 ">
        <h3 class="fwbold fs-4">Security Measures </h3>
        <p>
          We use affordable security measures to prevent unauthorized access to our Sites and to ensure the accuracy, reliability, and appropriate use of the data we store. Subscribed users can access their account information and subscription information through a password-protected account, and we recommend that they do not disclose their password to others. We do not request passwords through unsolicited calls or emails. Users should avoid saving their login details on shared computers, and they should always sign out and close their web browser window after completing their session. However, we cannot guarantee the complete security of data transmitted over the internet or wireless networks. While we take steps to safeguard the data we store, users transmit data to us at their own personal risk.
        </p>
      </div>

      <div class="fs-18 px-sm-4 pt-2 pb-4 mt-3">
        <h3 class="fwbold fs-4"> Your Feedback </h3>
        <p>
          We value your input regarding our Privacy Policy and any comments you may have on the services we provide. You can provide us with your feedback and reviews by sending an email to ‘Traders Find’'
        </p>
      </div>


    </div>
  </div>
</section>
