
<app-header-sub></app-header-sub>
<div class="container-fluid" style="align-content: center;">
    <div class="row">
    
      <div class="">
        <div class="row">
          <div class="">
  
            <img class="mx-auto d-block mt60" (click)="navigate()" style="cursor: pointer;"  src="assets/images/tflogo.webp" alt="TradersFind for you">
          </div>
          <!--<div class="col-md-2">
            <img class="float-right mt20" src="assets/img/dots/png/dots.png" alt="dots png">
          </div>-->
        </div>
        <div class="">
  
          
          <div class="p0">
            <h2 class="elegantshadow">ACTIVATION</h2>
              <div class="row">
                <div class="col-md-12">
                  <p class="are-you-interested-i">Thank You.</p>
                  <p class="are-you-interested-i">Your account has been activated. Please <a style="text-decoration: underline;cursor: pointer;" href="login">sign in</a></p>
                </div>
                
              </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
