<link rel="stylesheet" href="/assets/css/loadp.css" />
<section class="bg-gradiant1 login-title text-center text-white fwbold pb100">
    <div class="container">
        <button type="button" class="btn-close float-end mt-1" aria-label="Close" (click)="closeModal();"></button>
        <h1>please wait few seconds ...</h1>
    </div>
</section>
<div class="card">
    <div *ngIf="!this.frm" style="width: 400px; height: 100px;display: flex; justify-content: center; align-items: center;">
        <img src="assets/img/7zxq.gif" width="80px;">       
    </div>
</div>
    <div *ngIf="this.frm === 'search' " style="width: auto; height: 100px;display: flex; justify-content: center; align-items: center;">
        <img src="assets/img/tfmoving.gif" width="100%">
        
    </div>