
<app-header-sub></app-header-sub>
 <section class="container-fluid ">
       <img src="assets/images/industry.webp" class="img-fluid w-100" alt="">
      <!-- <img src="assets/images/industry2.png" class="img-fluid w-100" alt=""> -->
</section> 


<section class="p-3">
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">TradersFind</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Sellers
      </li>
    </ol>
  </nav>
</section>

<section class="container-fluid ">

  <!-- third row -->
  <div class="row  gy-4 bg-white" *ngFor="let category of popular_categories | paginate
  : {
      id: 'industry_listing_pagination',
      itemsPerPage: 12,
      currentPage: page,
      totalItems: totalLength
    }">
    <div class="col-lg-12">
      <h3 class="text-center fwbold text-uppercase text-black-50"><a
          [href]="getIndustryUrl(category.industryName, category.id)">{{category.industryName}}</a></h3>
    </div>
    <div class="col-lg-3">

      <img *ngIf="category.image" [src]="category.image.imageContent" class="img-fluid" alt="" />
    </div>

    <div class="col-lg-9">
      <div class="row gy-4">
        <div class="col-lg-4" *ngFor="
        let cat of $any(
          category.productsCategories | slice : 0 : 6
        );
        let item = index
      ">
          <div class="d-flex align-items-center gap-3">
            <app-traders-img [id]="cat.image ? cat.image.id : null"></app-traders-img>

            <div class="inddetails">
              <h4 class="fs-6 fwbold"><a [href]="getUrl(cat.id, cat.categoryName)"
                  [title]="cat.categoryName">{{cat.categoryName}}</a></h4>
              <ul class="mt-4 text-black-50">
                <li *ngFor="
                let subcat of $any(
                  cat.productsSubcategories | slice : 0 : 3
                );
                let item = index
              "><a [href]="getSubCatUrl(subcat.id, cat.categoryName,subcat.subCategoryName)"
                    [title]="subcat.subCategoryName">{{subcat.subCategoryName}}</a></li>

                <li><a [href]="getUrl(cat.id, cat.categoryName)"> + View All</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

   
    <div class="col-lg-12">
      <div class="row bg-grey">
        <div class="col-lg-12 position-relative sub_category_list2 ">

          <ul class="sub_category_list">

            <li *ngFor="
            let rcat of $any(
              category.productsCategories | slice : 4 : 8
            );
            let item = index
          ">
              <a [href]="getUrl(rcat.id, rcat.categoryName)"
                 class="align-items-center flex-row d-flex gap-3 flex-wrap flex-md-nowrap  justify-content-md-start">
                <div class="pro_image">
                  <app-traders-img [id]="rcat.image ? rcat.image.id : null" width="80" alt=""></app-traders-img>
                </div>
                <br><h2 class="fs-6 fw-normal">{{rcat.categoryName}}</h2>

              </a>
            </li>

          </ul>




          <a [href]="getIndustryUrl(category.industryName, category.id)" class="btn-primary-gradiant subcatbtn">
            View
            More
          </a>
        </div>
      </div>


    </div>


  </div>
  <br />
  <br />

  <pagination-controls id="industry_listing_pagination" (pageChange)="getNext($event)" [responsive]="true"
    [maxSize]="20"></pagination-controls>


</section>


<section class="container-fluid mt-4">
  <div class="row gy-4">
   

    <div class="col-12">
      <hr />
    </div>
  </div>
</section>

<section class="bg-grey2 mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-md-4 my-3">
          <div class="card border-0 shadow-lg">
            <div class="card-header text-center bg-gradiant">
              <h5 class="mb-0 py-1 fs-3">
                INQUIRE FOR YOUR BUYING REQUIREMENT
              </h5>
            </div>
            <div class="card-body p-md-5">
              <h4 class="text-uppercase mb-5 fw-semibold">
                Tell us about your requirement
              </h4>
              <div class="row">
                <div class="col-lg-6">
                  <label for="" class="form-label fw-semibold fs-5">Describe in few words *</label>
                  <textarea name="" class="form-control" id="" cols="30" rows="6"
                    placeholder="Please include product name, order quantity, usage, special request if any in your inquery."></textarea>
                  <button class="p-0 text-blue bg-transparent border-0 mt-3 fs-5">
                    + Add Attachment
                  </button>
                </div>
                <div class="col-lg-6">
                  <div class="row gy-4">
                    <div class="col-lg-6">
                      <label for="" class="form-label fw-semibold fs-5">Email ID *</label>
                      <input type="text" class="form-control" placeholder="Email ID" />
                    </div>
                    <div class="col-lg-6">
                      <label for="" class="form-label fw-semibold fs-5">Mobile number *</label>
                      <input type="text" class="form-control" placeholder="Mobile number" />
                    </div>
                    <div class="col-lg-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                        <label class="form-check-label" for="flexCheckChecked">
                          I agree to
                          <a href="https://www.tradersfind.com/term-and-conditions" target="_blank" class="text-decoration-underline">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <button class="btn-primary-gradiant w-100 rounded-2 fw-semibold fs-5">
                        <img src="assets/images/mail-white.svg" alt="" /> Send
                        Inquiry
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
