.he17{
    height: 170px;
}
@media screen and (max-width: 768px){
    .he17{
        height: 100px;
    }
}
@media screen and (max-width: 480px){
    .he17{
        height: 45px;
    }
}
/* your-component.component.css */

  /* Custom CSS to change the color of carousel control buttons to black */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Change the background color */
    color: white; /* Change the text color */
}







