
<div class="container">
    <div class="row gy-1">
      <div class="col-lg-6">
        <h2><b>EASY SOURCING</b></h2>
        <p>An easy way to post your sourcing requests and get quotes.</p>
        <ul class="sellers_text">
          <li>One request, multiple quotes </li>
          <li>Verified suppliers matching </li>
          <li>Quotes comparison and sample request </li>
        </ul>
        
        <a href="about-us" title="TradersFind" class="mt-5"><b>Learn More about us</b></a>
      </div>
      <div class="col-lg-6">
        <div class="card-transparent">
          <h2 class="fs-4">Let us know what you need?</h2>
  
          <form *ngIf="this.requirementService.productSellerForm"
            [ngClass]="!this.requirementService.isFormvalid?'was-validated':''"
            [formGroup]="this.requirementService.productSellerForm">
  
            
  
            <input type="text" class="form-control" formcontrolName="productName"
              placeholder="Product Name / Service" />
  
            <div class="row mt-1">
              <div class="col-md-6">
                <div class="mb-3">
                  <label>Quantity</label>
                  <input type="text" class="form-control" formControlName="quantity"
                    placeholder="Estimated Order Quantity">
  
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label>Unit</label>
                  <select formControlName="quantityUnit" class="form-control" placeholder="eg:  Dozen,  Piece(s),  Tonr">
                    <option *ngFor="let unit of this.requirementService.units" value="{{unit}}">{{unit}}</option>
                  </select>
  
                </div>
              </div>
            </div>
            <textarea name="" class="form-control" id="" cols="30" rows="3" placeholder="Product Description: "
              formControlName="requirement"></textarea>
             <div class="row mt-3">
                  <div class="col-md-6">
                    <div class="mb-3"> &nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="radio" id="onetime" formControlName="frequencytype"  name="frequencytype" value="onetime" checked>&nbsp;&nbsp;<label for="onetime">One Time</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3"> &nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="radio" formControlName="frequencytype" id="recuring" name="frequencytype" value="recuring">&nbsp;&nbsp;<label for="recuring">Recurring</label>
                    </div>
                  </div>
                </div>
  
            <div class="row mt-1">
              <div class="col-lg-6">
                <div class="input-group">
                  <select formControlName="countryCode" class="form-control mxw-50">
                         <option value="+971">+971</option>
                         <option value="+91">+91</option>
                      
                 </select>
                  <input type="number" formControlName="contactNumber" class="form-control" placeholder="Mobile"
                    required="number" />
                </div>
              </div>
              <div class="col-lg-6">
                <button class="btn-primary-gradiant w-100 rounded-2 mt10"
                  (click)="this.requirementService.onClickSubmitRequirement()">
                  Post Your Request Now
                </button>
              </div>
            </div>
          </form>
          
          <app-otp *ngIf="this.requirementService.isVerification"
              [countryCode]="this.requirementService.productSellerForm.value.countryCode"
              [mobileNo]="this.requirementService.productSellerForm.value.contactNumber"></app-otp>
  
        </div>
      </div>
    </div>
  </div>
  