<link rel="stylesheet" href="/assets/css/rating.css" />
<ul class="star-rating d-flex" *ngIf="rate == 5">
    <li><img src="assets/images/level/l5.png" alt="" /></li>
</ul>


<ul class="star-rating d-flex" *ngIf="rate == 4">
    <li><img src="assets/images/level/l4.png" alt="" /></li>
</ul>

<ul class="star-rating d-flex" *ngIf="rate == 3">
    <li><img src="assets/images/level/l3.png" alt="" /></li>
</ul>

<ul class="star-rating d-flex" *ngIf="rate == 2">
    <li><img src="assets/images/level/l2.png" alt="" /></li>    
</ul>

<ul class="star-rating d-flex" *ngIf="rate == 1">
    <li><img src="assets/images/level/l1.png" alt="" /></li>
</ul>