
<app-header-sub></app-header-sub>
<section class="tabBg5 mb-5 mt-5">

  <div class="joinus-form2" >
    <div class="container">
      <div>
        <h2 class="fwbold fs-1 text-white pt-4">ADVERTISE WITH US  </h2>
        <p class="fs-18 text-white">to get more exposure for your business</p>
      </div>

      <div class="nav nav-pills fwbold fw-bold fs-5 pt-4 pb-4 row">
        <button class="nav-link1 rounded-5 col-sm-4  active" data-bs-toggle="pill" data-bs-target="#v-pills-membership-plan" type="button" aria-selected="true">Membership Plan</button>
        <button class="nav-link1 rounded-5 col-sm-4" data-bs-toggle="pill" data-bs-target="#v-pills-add-on-services" type="button" aria-selected="false">Add On Services</button>
        <button class="nav-link1 rounded-5 col-sm-4" data-bs-toggle="pill" data-bs-target="#v-pills-banner-advertisement" type="button" aria-selected="false">Banner Advertisement</button>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="tab-content col-lg-12 px-sm-3 mt-4  fs-6">

      <div class="tab-pane fade show active" id="v-pills-membership-plan">
        <div class="row pb-5">
          <div class="col-lg-4">
            <div class="card-shadow bg-grey categories fs-4 fwbold mb-3 radius_t_r_5 pt-4 pb-4 mt-2">CHOOSE YOUR PLAN</div>
            <ul class="card-shadow bg-grey radius_b_r_5 categories fs-4 ">
              <li>Banefits Include</li>
              <li>Sponsored Keyword</li>
              <li>Featured Keyword</li>
              <li>Standard Keyword</li>
              <li>Product</li>
              <li>Subcategory</li>
              <li>Shots Of Email</li>
              <li>Facebook/Instagram</li>
            </ul>
            <div class="fs-5 mt-4"><span class="text-danger mb-0 fwbold ">* </span> All given rates are excluding of GST.</div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-4">
                <div class="card-shadow bg1 categories mb-3 radius_t_r_5 text-center mt-3">
                  <p class="mb-0">BASIC LISTING</p>
                   <div class="fs-5 fwbold">&nbsp;</div> 
                </div>
                <ul class="card-shadow bg1 radius_b_r_5 categories fs-4 text-center">
                  <li>Numbers</li>
                  <li> - </li>
                  <li>1</li>
                  <li>3</li>
                  <li>4</li>
                  <li>2</li>
                  <li>-</li>
                  <li>-</li>
                  <li><button class="bg4 btn px-md-5 py-3 rounded-10 fs-5 fwbold">BUY NOW</button></li>
                </ul>
              </div>

              <div class="col-lg-4">
                <div class="card-shadow bg2 categories mb-3 radius_t_r_5 text-center mt-3">
                  <p class="mb-0">SPONSORED LISTING - 1</p>
                   <div class="fs-5 fwbold">&nbsp;</div>
                </div>
                <ul class="card-shadow bg2 radius_b_r_5 categories fs-4 text-center">
                  <li>Numbers</li>
                  <li>1</li>
                  <li>3</li>
                  <li>3</li>
                  <li>7</li>
                  <li>3</li>
                  <li>150K Each (2 SHOTS)</li>
                  <li>31,000 Impression</li>
                  <li><button class="bg5 btn px-md-5 py-3 rounded-10 fs-5 fwbold">BUY NOW</button></li>
                </ul>
              </div>

              <div class="col-lg-4">
                <div class="card-shadow bg3 categories  mb-3 radius_t_r_5 text-center mt-3">
                  <p class="mb-0">SPONSORED LISTING - 2</p>
                  <div class="fs-5 fwbold">&nbsp;</div>
                </div>
                <ul class="card-shadow bg3 radius_b_r_5 categories fs-4 text-center">
                  <li>Numbers</li>
                  <li>3</li>
                  <li>5</li>
                  <li>2</li>
                  <li>10</li>
                  <li>5</li>
                  <li>150K Each (4 SHOTS)</li>
                  <li>63,000 Impression</li>
                  <li><button class="bg6 btn px-md-5 py-3 rounded-10 fs-5 fwbold">BUY NOW</button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="card-shadow bg-grey radius_b_r_5 categories mt-5 mb-5">
            <div class="fs-3 text-center fwbold pt-3">Have any questions?</div>
            <p class="text-center fs-4 pt-2">If you have any questions shoot us a message and we will get back to you as soon as possible</p>
            <form>
              <div class="row mt-4 feedback2">

                <div class="form-group col-sm-4">
                  <label>Your Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Name">
                </div>

                <div class="form-group col-sm-4">
                  <label>Your Email </label>
                  <input type="email" name="email" class="form-control" placeholder="Email">
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Phone Number </label>
                    <input type="text" id="mobile_code" class="form-control" placeholder="Phone Number" name="name">
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label>Your Message</label>
                  <textarea class="form-control2" rows="5" placeholder="Yes, I am interested in your services"></textarea>
                </div>

                <button class="btn-primary-gradiant px-md-5 py-2 rounded-10 fs-4 fwbold mt-4">Request a Quote </button>

              </div>
            </form>
          </div>
        </div>

        <div class="row pb-3">
          <p class="text-danger fs-18 mt-4"><b>Disclaimer:</b> All payments for services at Exportersindia.com have to be made in favour of "Weblink .IN Pvt. Ltd." only. We have not authorized any individual or organization to collect payments in any other name (i.e.any other individual or organization name) or via personal Western Union or personal Paypal Accounts For any services rendered by Exportersindia.com You are informed <a>Read More... </a></p>
        </div>


                     
      </div>

      <div class="tab-pane fade" id="v-pills-add-on-services">
        <div class="row">
          <h2 class="mt-3 fs-4 text-black fwbold">ADDITIONAL PRODUCTS & KEYWORDS</h2>
          <div class="table-responsive">
            <table class="table table-striped fs-5 align-middle ">
              <thead>
                <tr>
                  <th colspan="3">Banefits Includes </th>
                  <th>Price In AED</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="3">1 Standard Keyword</td>
                  <td>500</td>
                </tr>
                <tr>
                  <td colspan="3">1 Permium Keyword</td>
                  <td>1500-5000</td>
                </tr>
                <tr>
                  <td colspan="3">1 Sub Category</td>
                  <td>500</td>
                </tr>
                <tr>
                  <td colspan="3">1 Product</td>
                  <td>500</td>
                </tr>
                <tr>
                  <td colspan="3">1 Sponsored Keyword</td>
                  <td>7000</td>
                </tr>
                <tr>
                  <td colspan="3">1 Featured Keyword</td>
                  <td>3000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <h2 class="mt-3 fs-4 text-black fwbold">EMAIL MARKETING (100K PER SHOT)</h2>
          <div class="table-responsive">
            <table class="table table-striped fs-5 ">
              <thead>
                <tr>
                  <th>Shot  </th>
                  <th>Price For Single Shot</th>
                  <th>Total Price In AED</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 Shots</td>
                  <td>1500</td>
                  <td>1500</td>
                </tr>
                <tr>
                  <td>3 Shots </td>
                  <td>1200</td>
                  <td>3600</td>
                </tr>
                <tr>
                  <td>5 Shots </td>
                  <td>1000</td>
                  <td>5000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="fs-6"><span class="text-danger mb-0 fwbold ">* </span> All given rates are excluding of GST.</div>
          <p class="text-danger fs-18 mt-4"><b>Disclaimer:</b> All payments for services at Exportersindia.com have to be made in favour of "Weblink .IN Pvt. Ltd." only. We have not authorized any individual or organization to collect payments in any other name (i.e.any other individual or organization name) or via personal Western Union or personal Paypal Accounts For any services rendered by Exportersindia.com You are informed <a>Read More... </a></p>
        </div>
      </div>



      <div class="tab-pane fade" id="v-pills-banner-advertisement">
        <div class="row">
          <h2 class="mt-3 fs-4 text-black fwbold">ADDITIONAL LINK & BANNER</h2>
          <div class="table-responsive">
            <table class="table table-striped fs-5 align-middle ">
              <thead>
                <tr>
                  <th colspan="3">Banefits Includes </th>
                  <th>Price In AED</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="3">Company Video</td>
                  <td>1000</td>
                </tr>
                <tr>
                  <td colspan="3">Social Media Link</td>
                  <td>700</td>
                </tr>
                <tr>
                  <td colspan="3">Company URL</td>
                  <td>700</td>
                </tr>
                <tr>
                  <td colspan="3">Flash Banner On Keyword Search</td>
                  <td>5999</td>
                </tr>
                <tr>
                  <td colspan="3">Home Page Flash + Ads</td>
                  <td>40 000</td>
                </tr>
                <tr>
                  <td colspan="3">Blogs On Home Page </td>
                  <td>3000</td>
                </tr>
                <tr>
                  <td colspan="3">Company Logo </td>
                  <td>500</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="fs-6"><span class="text-danger mb-0 fwbold fs-6">* </span>All given rates are excluding of GST.</div>
          <h2 class="mt-3 fs-4 text-black fwbold">Get <span class="text-info">Targeted Traffic </span> & <span class="text-danger">Build Brand </span> Awareness</h2>
          <div class="fs-18 pb-3">Offering creative and effective web banner advertising services</div>
          <p class="fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          <p class="fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>


        <div class="shadow2 fs-18 px-sm-4 pt-4 pb-4 mt-3">
          <p>Our objective is to make each and every business house get the advantage of being associated with ExportersIndia. Get your banner hosted at ExportersIndia.com and we promise that you will soon feel the difference</p>
          <ul class="businessBg">
            <li> <span class="text-danger fs-1">-</span> We can design a business & products theme based Banner for You.</li>
            <li> <span class="text-danger fs-1">-</span> Maximize your website traffic & increase no. unique visitors that are related to your business.</li>
            <li> <span class="text-danger fs-1">-</span> Generate thousand business queries per month & earn more Profits.</li>
            <li> <span class="text-danger fs-1">-</span> Attract right visitors to your site and get a fruitful business.</li>
          </ul>
        </div>

        <div class="col-lg-12 text-center"><button class="btn-primary-gradiant px-md-5 py-2 rounded-10 fs-5 fwbold mb-3 mt-3">Enquiry Now</button></div>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>